# [authserver]
# There are no configuration options for the authserver.

[worldserver]
########################################
# Archipelago Mod Configuration
########################################

# Enable or disable the Archipelago mod
# Default: 0 (Disabled)
#          1 (Enabled)
Archipelago.Enable = 1

# Start/Initial Level Cap when Progressive Level Cap is enabled
# Default: 10
Archipelago.StartLevelCap = 10

# Base Experience Multiplier when Progressive XP is enabled
# Default: 0.2 (20% of standard experience)
Archipelago.BaseXPMultiplier = 0.2

# Base Movement Speed Multiplier when Progressive Movement is enabled
# Default: 0.5 (50% of standard run speed)
Archipelago.BaseSpeedMultiplier = 0.5

# Restrict character creation or gameplay by class/race unlocks
# Default: 0 (Disabled)
#          1 (Enabled)
Archipelago.RestrictClassesRaces = 1
